.categoryCardContainer{
  display: flex;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill,1fr);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryCard{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  position: relative;
  background: ivory;
}

.categordCardImg{
  width: 15rem;
  height: 20rem;
  object-fit: contain;
}

.categoryTitle{
  position: absolute;
  font-size: 1rem;
  background: black;
  opacity: 0.6;
  color: ivory;
  flex-basis: 100%;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  height: 4rem;
  border-bottom-left-radius:16px;
  border-bottom-right-radius:16px;
  text-align: center;
}